* {
	background-color: indigo;
}

@font-face {
	font-family: Alericgg;
	src: url(txt/Alaric/AlaricSSK/AlaricSSK.ttf)
	
}

@font-face {
	font-family: myCursive;
	src: url(txt/myCursive/MyCursive/314-CAI978/314-CAI978.ttf)

}
#logo {
	font-size: 34px;
	font-family: 'myCursive';
	color:lime;
	letter-spacing: 5px;
	word-wrap: normal;
}

.logo-image {
	width:200px;
	height:200px;
	padding-top: 10px;
	padding-bottom: 10px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#main-doc {
	height:100%;
	width:100%;
}

#navbar {
	position:fixed;
	width:300px;
	height:100%;
}

.intro-section {
	text-align: justify;
	text-align-last: center;
}

#technical-doc-writing {
	width:75%;
	margin-left:320px;
}

h1 {
	font-weight:bold;
	font-size:20px;
	text-align:left;
	color:limegreen;
	font-family:'Courier New', Courier, monospace;
}

p {
	font-size:18px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

h3 {
	font-size:18px;
	color: gold;
	font-family: 'Courier New', Courier, monospace;
}

h4 {
	font-size: 70px;
	color:gold;
	font-family: 'myCursive';
	letter-spacing: 7px;
}

li {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size:20px;
}

b {
	font-family: 'Courier New', Courier, monospace;
	color:white;
}

i {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.nav-select {
	padding-top: 40px;
}

.nav-links {
	/*padding-top:20px;*/
	text-align:justify;
	margin-top:10px;
	margin-bottom:10px;
	font-family: 'Courier New', Courier, monospace;
}

.subsections {
	color: lime;
}

.nav-link {
	color: lime;
}

.subsections:hover {
	color:gold;
}

.nav-link:hover {
	color:gold;
}

@media (max-width:600px) {
	#navbar {
		width:100%;
	}

	#technical-doc-writing {
		width:100%;	
	}
}


