* {
	background-color: indigo;
}

#logo {
	font-size: 28px;
	font-family: 'Courier New', Courier, monospace;
	color:gold;
}

#main-doc {
	height:100%;
	width:100%;
}

#navbar {
	position:fixed;
	width:300px;
	height:100%;
}


.nav-links {
	padding-top:20px;
	text-align:justify;
	margin-top:10px;
	margin-bottom:10px;
	font-family: 'Courier New', Courier, monospace;
}

#technical-doc-writing {
	width:75%;
	margin-left:320px;
}

h1 {
	font-weight:bold;
	font-size:20px;
	text-align:left;
	color:limegreen;
	font-family:'Courier New', Courier, monospace;
}

p {
	font-size:18px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

h3 {
	font-size:18px;
	color: gold;
	font-family: 'Courier New', Courier, monospace;
}

li {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size:20px;
}

b {
	font-family: 'Courier New', Courier, monospace;
	color:white;
}

i {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.subsections {
	color: lime;
}

.nav-link {
	color: lime;
	padding-bottom: 10px;
}

.subsections:hover {
	color:gold;
}

.nav-link:hover {
	color:gold;
}

@media (max-width:600px) {
	#navbar {
		width:100%;
	}

	#technical-doc-writing {
		width:100%;	
	}
}


